<div class="container mt-4">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <button type="button" (click) = "habilitar = !habilitar"  class="btn btn-primary my-3">
                {{habilitar == true ? 'Ocultar' : 'Mostrar'}}
            </button>
            <div class="card shadow">
                <div class="card-header">
                    Listado de cursos
                </div>
                <ul class="list-group" *ngIf = "habilitar" >
                    <li class="list-group-item" *ngFor="let curso of listaCurso">
                        {{curso}}
                    </li>
                </ul>
            </div>  
        </div>
        <div class="col-3"></div>
    </div>
</div>
